html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}
hr {border:0px none;background-color:#c6c6c6;height:1px;}
a{color:#039AC5;text-decoration:none;}
a:hover{text-decoration:underline;}
body{color:#666666;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;}

.ui-widget-content{color:#666666 !important;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;}
.user_list{margin-top:10px;clear:left;width:100%;}
.user_list .table_hr{border-top:1px solid #c6c6c6;}
.user_list td{padding:5px 10px;vertical-align:middle;width:33%;}
.user_list td.delete{text-align:right;white-space:nowrap;}
.user_list td.delete a{background:url(images/Crystal_Clear_action_editdelete.png) 0px 2px no-repeat;font-size:11px;padding:6px 0px 6px 25px;}

#application {width:100%;overflow:hidden;}


#reset_password_container{display:none;}

.create_new_user_container{display:none;height: 380px;width: 600px;}
.create_new_user_container table tr td{padding:5px;}
#portal_toolbar {background:url("../images/app_header.png");height:32px;line-height:32px;position:relative;}
#portal_toolbar .title{color:#fff;font-weight:bold;margin-left:10px;}
#portal_toolbar .title a{color:#fff;text-decoration:none;}
#portal_toolbar .log_out{float:right;;margin-right:10px;}
#portal_toolbar .log_out a{color:#fff;}

#content{/*margin:10px 25px 0px 25px;*/}
#content h3,
#content h1   {padding:5px 10px;}
#content form {padding:0px 10px;}
.completed    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error        { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice       { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.instructions { background: #CCFFFF; color: #264409; border-color: #33FFFF; }

.completed, .error, .notice, .instructions, #errorExplanation {border:2px solid #DDDDDD;font-size:12px;margin-top:0;padding:0.8em;}
.flash {margin:0.8em 10px 0.4em;}

form.new_user_session{margin-top:10px;}
#errorExplanation {background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4;margin:0.8em 0;}
#errorExplanation p{margin:5px 0px;}
#errorExplanation ul{margin-left:10px;list-style:circle;list-style-position:inside;}

#settings_panel {margin-top:50px;margin-bottom:20px;padding:0px 10px;white-space:nowrap;}
#settings_panel span{padding:0px 5px;}
#settings_panel span.first{border-left:none !important;}
#settings_panel span a{padding:40px 0px 12px;color:#039AC5;font-size:11px;}
#settings_panel .create_user a{background: url(images/create_user.png) 0px 0px no-repeat;}
#settings_panel .reset_password a{background: url(images/reset_password.png) 0px 0px no-repeat;}
#settings_panel .add_white_list,
#settings_panel .white_list_settings{display:none;}
#settings_panel .add_white_list a{background: url(images/add_to_white_list.png) 0px 0px no-repeat;}
#settings_panel .white_list_settings a{background: url(images/white_list_settings.png) 0px 0px no-repeat;}
#settings_panel .new_distribution_list a{background:url(images/new_distro.png) 0px 0px no-repeat;}
#settings_panel .add_distribution_list a{background:url(images/add_to_distro.png) 0px 0px no-repeat;}
#settings_panel .cacti_graphs a{background:url(images/cacti_graphs.png) 0px 0px no-repeat;}

.create_distribution_list{display:none;min-height:0px !important;}
.reset_password_container table td{padding:5px 10px 10px 0px;}

.white_list_panel {display:none;}
#wl_domain_container {display:none;}
div.pagination{margin:0px 10px;}

/* CACTI STYLE BEGIN */
#cacti_graphs_iframe{margin-top:-60px;height:850px;}
#cacti_graphs_iframe body{margin-top:-10px !important;}
.cacti_form{display:none;}
#login_status_msg{display:none;background:url(images/loader2.gif) no-repeat transparent;width:50%;margin-left:10px;margin-top:10px;height:32px;}
#login_status_msg p{color:#666666;padding:8px 5px 5px 40px;}
#cacti_cred_container{display:none;}
#cacti_cred_container *{display:block;}
#cacti_cred_container input{margin-bottom:5px;}
.cacti_desc{width:200px;margin-bottom:10px;}
/* CACTI STYLE END */

/*DISTRIBUTION GROUP STYLE BEGIN*/
#distribution_list{
  width: 310px;  
}

#distribution_list .distribution_list_display{
  border: 1px solid #666666;
  width: 135px;
  height: 150px;
  overflow-y:auto;
}

#distribution_list .distribution_list_display li.selected{
  background-color:#E6EFC2;
}

#distribution_list .distribution_list_display li{
  border-bottom: 1px solid black;
  padding:2px;
  cursor: pointer;
}

#distribution_list .distribution_list_user_display{
  border: 1px solid #666666;
  width: 135px;
  height: 150px;
  float:right;
}

#distribution_list .distribution_list_user_display ul li{
  display :none;
}

#distribution_list .distribution_list_user_display ul li ul li{
  border-bottom: 1px solid black;
  padding:2px;
  display :block;
  cursor: pointer;
}

#distribution_list .distribution_list_user_display ul li ul li.selected{
  background-color:#E6EFC2;
}

.add_to_distro_container{display:none;}
.distro_loader{
  background:url("images/loader2.gif") no-repeat transparent;
  width: auto;
  height: 32px;
  padding-top: 40px;
}

distribution-group{
  display:block;
}

.add_to_group_form_container{
  display:none;
}

p.has_member_notice{
  padding: 5px 0px;  
}

.remove_from_group_button{
  float:right;
  display:none;
}

p.no_group_member_notice{
  padding:5px;
}

div.distro_overlay{
  display:none;
  background: #fff;
  width: 250px;
  position: absolute;
  top: 80px;
  left: 35px;
  padding: 10px;
  border:1px solid #666666;
}

div.distro_overlay div.distro_overlay_ajax{
  background:url("images/loader2.gif") no-repeat transparent;
  width: 32px;
  height: 32px;
  float:left;
  margin-right: 5px;
  margin-top: -3px;
}

span.displayName{display:block;margin-left:12px;margin-top:-13px;}
span.asterisk_note{color:red;}

/*DISTRIBUTION GROUP STYLE END*/
span.reset_user_password a{
  background: url("images/reset_password.png") no-repeat scroll 0 0 transparent !important;
  padding: 12px 0px 12px 30px !important;
}

span.add_user_to_distro a{
  background:url(images/add_to_distro.png) 0px 0px no-repeat !important;
  padding: 12px 0px 12px 40px !important;
}